# Files to exclude
## Jupyter / IPython
.ipynb_checkpoints/
__pycache__/
## Binary files and directories with those (shared with dropbox)
Coordinación/
Taller/
*.pdf
*.odt
## LaTeX (pdflatex, latexmk, atom)
*.aux
*.log
*.out
*.synctex.gz
*.fdb_latexmk
*.fls
*.bak
