# Files to exclude
## Jupyter / IPython
.ipynb_checkpoints/
__pycache__/
## Binary files and directories shared with dropbox
*.pdf
*.odt
*.zip
## LaTeX (pdflatex, latexmk, atom)
*.aux
*.log
*.out
*.synctex.gz
*.fdb_latexmk
*.fls
*.bak
## Nano temp
*.swp
